@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/back.jpg');
  background-size:cover;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.container h1{
  text-align: center;
  color: rgba(29, 28, 34, 0.747);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

form input:focus {
  outline: 1px solid blue;
}

form button {
  border: none;
  background: rgba(210, 105, 30, 0.753);
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  font-size: 26px;
  background: black;
  transition: all 0.1s ease-in-out;
}

.setColorValid{
  background-color: rgb(255, 234, 47);
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  color: rgb(65, 58, 58);
  outline: solid 2px rgba(0, 0, 0, 0.404);
  margin:50px 20%;
}
.setColorInvalid{
  margin: 50px 20%;
  color: white;
  background-color: rgb(209, 18, 18);
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  box-sizing:border-box;
}
.credits{
  color: rgb(85, 72, 72);
  margin-bottom: 0;
  font-size: 0.5em;
}
.credits a {
  text-decoration: none;
  color: rgb(128, 126, 0);
  
}
.credits a:visited{
  color: rgb(128, 126, 0);
}


